<h1>Test Form</h1>
<br><br><br>
<form action="/search">
  Property ID:<br>
  <input type="text" name="id"><br>
  <select id="selectdude">
    <option value="123">123 Freddy</option>
    <option value="456">456 Sally</option>
  </select>
  
  <input id="datalistdude" type="text" name="city" list="citynames">
  <datalist id="citynames">
    <option value="Boston">
    <option value="Cambridge">
  </datalist>

  <div id="testform-div-to-change">I am open and grateful to change.</div>

  <button name="button" type="submit" value="Submit">Submit</button>
</form>
